<!doctype html>
<html>
	{{> head_start }}
		<title>实例-demo-clary</title>
		<link rel="stylesheet" type="text/css" href="/common/css/style.css">
		<link rel="stylesheet" type="text/css" href="/common/css/markdown.css">
	{{> head_end_null}}
	{{> body_header}}
	{{> body_banner}}
		<div class="wrap section mtfifty markdown markdown-1">
<!-- template-start -->
<textarea id="text-input" disabled="false" hidden>
## 以下为测试地址（将移除）： 

### [A&lt;==&gt;Span - 0.0.2](/demo/commoncode/a2span/0.0.2/index.html "A&lt;==&gt;Span")
+ 描述：点击一个a标签，变为span标签，执行函数后从span标签变回a标签

### [倒计时 - 0.0.1](/demo/commoncode/countdown/0.0.1/index.html "倒计时")
+ 描述：输出一个‘天时分秒’的倒计时，时间到达时执行一个函数

### [分页显示 - 0.0.3](/demo/commoncode/pagerview/0.0.3/index.html "分页显示")
+ 描述：动态输出分页数，分页功能与当前页逻辑处理分开，便于操作

### [handlebars按需加载 - 0.0.1](/demo/commoncode/handlebars/0.0.1/index.html "handlebars按需加载")
+ 描述：利用handlebars引擎进行模板加载，有两种加载方式，一种html直接赋值，一种append追加赋值

### [cookie操作 - 0.0.1](/demo/commoncode/cookie/0.0.1/index.html "cookie操作")
+ 描述：自定义cookie操作对象，便于操作cookie

### [tools自定义工具函数 - 0.0.1](/demo/commoncode/tools/0.0.1/index.html "tools自定义工具函数")
+ 描述：1.show to hide OR hide to show；2.input必须是数字；3.删除select第一个option，4.判断某个对象是否存在某个类

### [检查浏览器类型 - 0.0.1](/demo/commoncode/checkbrowser/0.0.1/index.html "检查浏览器类型")
+ 描述：检查浏览器类型，包含android、iphone、ipad、ios等

### [检查表单是否通过要求 - 0.0.1](/demo/commoncode/checkform/0.0.1/index.html "检查表单是否通过要求")
+ 描述：描述：验证表单-input、select等类型

### [鼠标滚动事件 - 0.0.1](/demo/commoncode/mousewheel/0.0.1/index.html "鼠标滚动事件")
+ 描述：鼠标滚轮滚动执行事件，同时去除浏览器滚动条滚动

### [css模板 - 0.0.1](/demo/commoncode/csstemplate/0.0.1/index.html "css模板")
+ 描述：常用的css内容

### [提前获得图片宽高 - 0.0.1](/demo/commoncode/getimginfo/0.0.1/index.html "提前获得图片宽高 - 0.0.1")
+ 描述：图片未加载完，可以提前获取其宽高
</textarea>
<artical id="preview" class="markdown-body">
</artical>
<script type="text/javascript" src="/common/js/markdown.js"></script>
<script type="text/javascript">
function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    }
    input.editor = this;
    this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("text-input"), $("preview"));
var tagA = $("preview").getElementsByTagName("a");
for( var i=0; i<tagA.length; i++ ){
	tagA[i].setAttribute("target","_blank");
}
</script>
<!-- template-end -->
		</div>
	{{> body_footer}}
</html>