<!doctype html>
<html>
	{{> head_start }}
		<title>导航-clary</title>
		<link rel="stylesheet" type="text/css" href="/common/css/style.css">
		<link rel="stylesheet" type="text/css" href="/common/css/markdown.css">
	{{> head_end_null}}
	{{> body_header}}
	{{> body_banner}}
		<div class="wrap section mtfifty markdown markdown-1">
<!-- template-start -->
<textarea id="text-input" disabled="false" hidden>
## 测试使用地址：  

### [Github](https://github.com/ "github")
### [Markdown 语法说明（简体中文版）](http://wowubuntu.com/markdown/#link "markdown")
### [Nodejs fs API](http://nodejs.cn/api/fs/ "nodejs fs api")
### [网址在线检测](http://wave.webaim.org/ "网址在线检测")
### [3D图片环](http://www.zhinengshe.com/works/3540/zns_demo.html "3D图片环")
### [插件、素材、模板](http://www.dowebok.com/ "插件、素材、模板")
### [Nodejs官网](http://nodejs.org/ "nodejs")
### [JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript "JavaScript")
### [开发常用在线网址](http://it.webkfa.com/ "开发常用在线网址")
### [智能社](http://www.zhinengshe.com/ "智能社")
### [icon转成base64编码](http://www.base64-image.de/step-1.php "icon转成base64编码")
### [正则在线测试](http://tool.chinaz.com/regex/ "正则在线测试")
### [快递查询接口](http://www.kuaidi100.com/openapi/ "快递查询接口")
### [QQ一键加群](http://qun.qq.com/join.html "QQ一键加群")
### [console详解](http://www.css88.com/archives/3678 "console详解")
</textarea>
<artical id="preview" class="markdown-body">
</artical>
<script type="text/javascript" src="/common/js/markdown.js"></script>
<script type="text/javascript">
function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    }
    input.editor = this;
    this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("text-input"), $("preview"));
var tagA = $("preview").getElementsByTagName("a");
for( var i=0; i<tagA.length; i++ ){
	tagA[i].setAttribute("target","_blank");
}
</script>
<!-- template-end -->
		</div>
	{{> body_footer}}
</html>